@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

@layer components {
	.center {
		display: grid;
		place-items: center;
	}

	.link {
		user-select: none;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		font-weight: bold;
		color: theme(colors.link);
		fill: theme(colors.link);

		& :hover {
			text-decoration: underline;
		}
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
		background-color: theme(colors.buttonLow);
		border-width: 4px;
		border-color: transparent;
		outline-width: 2px;
		background-clip: padding-box;
		margin: 0.25rem;
		padding: 1.25rem 0.5rem;
		font-weight: 900;
		cursor: pointer;
		border-radius: 0.75rem;

		& :hover {
			outline: theme(colors.buttonLow);
		}
	}
}
