@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

@layer components {
	.center {
		@apply grid place-items-center;
	}

	.link {
		@apply select-none cursor-pointer inline-flex items-center font-bold text-link fill-link hover:underline;
	}

	.button {
		@apply flex items-center justify-center gap-3 bg-buttonLow border-4 border-transparent outline-2 bg-clip-padding m-1 px-5 py-2 font-black cursor-pointer rounded-xl hover:outline-buttonLow;
	}
}
