.footer h1,
.footer p {
	user-select: none;
}

.footer svg {
	transition: var(--transition);

	height: 75px;
	width: 75px;

	padding: 10px;
	border-radius: var(--border-radius);
}

.footer svg:hover,
.footer a:focus-visible svg {
	fill: var(--accent);
	background-color: var(--bg-low);
}

.footer a,
.footer button {
	cursor: pointer;
}

.footer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.footer {
	padding: 50px;
}
